<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("slider-1.jpg", width: "120%") %>
    </div>
    <div class="item">
      <%= image_tag("slider-2.jpg", width: "120%") %>
    </div>
    <div class="item">
      <%= image_tag("slider-3.jpg", width: "120%") %>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h1>Morbi fringilla id velit sed.</h1>
<p>Phasellus eu vehicula nisi, sed feugiat eros. Cras eu urna in metus rutrum auctor. Morbi rutrum magna sed gravida ultricies. Duis nec ullamcorper felis. Suspendisse nisl tellus, ornare vel consectetur sit amet, elementum et dui. Quisque rhoncus vulputate eros, sit amet eleifend metus. Vivamus ac ligula quis felis ultricies gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet sollicitudin tellus. Fusce metus tellus, venenatis id blandit ultricies, varius et elit. Donec bibendum neque a metus ultrices, sed semper dui dignissim.</p>

<h1>Donec quis placerat urna. Duis.</h1>
<p>Donec id rhoncus libero, at vestibulum erat. In hac habitasse platea dictumst. Suspendisse ornare urna vel rutrum sagittis. Fusce id enim a nulla efficitur scelerisque. Ut ligula metus, tincidunt at ultricies nec, facilisis ac justo. Nulla non egestas magna, eu convallis mauris. In hac habitasse platea dictumst. Ut interdum finibus sem pharetra pulvinar. Nullam eu dui tellus. Nulla facilisi.</p>

<h1>Nunc ultrices condimentum pharetra. Donec ut erat at.</h1>
<p>Mauris eget justo risus. Etiam gravida luctus ante. Etiam sollicitudin nunc at nunc sollicitudin, sagittis efficitur urna iaculis. Aliquam varius euismod neque, eu lacinia turpis convallis eu. Donec luctus erat quis velit sollicitudin, eget eleifend nunc suscipit. Etiam bibendum est.</p>

<h1>Vestibulum a libero posuere, accumsan.</h1>
<p>Nunc ut nulla diam. Sed mattis id leo a gravida. Phasellus sodales tortor eu pretium pellentesque. Integer a dolor odio. Duis rhoncus nisl odio, in sagittis ante imperdiet in. Suspendisse a tempor lacus. Fusce.

</p>

<h1>Ut bibendum cursus nisi, et auctor sem.</h1>
<p>Duis ullamcorper volutpat elit ac consectetur. Suspendisse potenti. Ut in augue vitae ligula gravida venenatis vitae bibendum ante. Morbi justo est, faucibus non neque in, aliquam mattis nibh. Integer consequat erat vel dolor dictum, ut iaculis enim venenatis. In vel nulla turpis. Donec vel eros ut ex viverra.</p>