<h1>All Cats</h1>

<ul class="list-group">
  <% @cats.each do |cat| %>
    <li class="list-group-item"><%= link_to cat.name, cat_url(cat) %></li>
  <% end %>
</ul>

<%= button_to "Create New Cat!", new_cat_url, method: :get %>
